<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Log In</title>
    </head>

    <body>

        <h1>Log In</h1>
        <div th:if="${param.error}">
            Invalid Username and Password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>

        <form th:action="@{/login}" th:method="POST">

            <div class="form-group">

                <label for="username">Username</label>
                <input id="username" class="form-control" name="username" type="text" />

                <label for="password">Password</label>
                <input id="password" class="form-control" name="password" type="password" />

            </div>

            <input class="btn btn-success" type="submit" value="Log In" />

        </form>

    </body>
</html>