<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sign-Up/Login Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' type='text/css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/>
    <link rel="stylesheet" href="css/login-register.css"/>
    <link rel="stylesheet" href="css/navbar.css"/>
</head>
<body>
<nav th:include="fragments/navbar :: navbar"></nav>
<div class="form">
    <ul class="tab-group">
         <li class="tab active">
            <a href="#signup">Sign Up</a>
        </li>
        <li class="tab">
            <a href="#login">Log In</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="signup">
            <h1>Sign Up</h1>
            <form th:action="@{/register}" th:method="POST" th:object="${user}">
                <div class="top-row">
                    <div class="field-wrap">
                        <label>
                            First Name<span class="req">*</span>
                        </label>
                        <label class="error" th:if="${#fields.hasErrors('firstName')}"
                               th:errors="*{firstName}"></label>
                        <input class="input" type="text" th:field="*{firstName}"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Last Name<span class="req">*</span>
                        </label>
                        <label class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
                        <input class="input" type="text" th:field="*{lastName}"/>
                    </div>
                </div>
                <div class="field-wrap">
                    <label>
                        Username<span class="req">*</span>
                    </label>
                    <label class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
                    <input class="input" type="text" th:field="*{username}"/>
                </div>
                <div class="field-wrap">
                    <label>
                        Email Address<span class="req">*</span>
                    </label>
                    <label class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                    <input class="input" type="email" th:field="*{email}"/>
                </div>
                <div class="field-wrap">
                    <label>
                        Password<span class="req">*</span>
                    </label>
                    <label class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
                    <input class="input" type="password" th:field="*{password}"/>
                </div>
                <div class="field-wrap">
                    <label>
                        Confirm Password<span class="req">*</span>
                    </label>
                    <input class="inputs" type="password" name="passwordConfirm"/>
                </div>
                <button type="submit" class="button button-block">Get Started</button>
            </form>
        </div>
        <div id="login">
            <h1>Login</h1>
            <div th:if="${param.error}">Invalid Username and Password. </div>
            <div th:if="${param.logout}"> You have been logged out.</div>
            <form th:action="@{/login}" th:method="POST">
                <div class="field-wrap">
                    <label>
                        Username<span class="req">*</span>
                    </label>
                    <input class="input" name="username" type="text"/>
                </div>
                <div class="field-wrap">
                    <label>
                        Password<span class="req">*</span>
                    </label>
                    <input class="input" name="password" type="password"/>
                </div>
                <button class="button button-block" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
<script src="js/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 <script src="js/login-register.js"></script>
</body>
</html>