<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sign-Up/Login Form</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/>
    <link rel="stylesheet" href="css/login-register.css"/>
</head>
<body>
<div class="form">
    <ul class="tab-group">
         <li class="tab active">
            <a href="#signup">Sign Up</a>
        </li>
        <li class="tab">
            <a href="#login">Log In</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="signup">
            <h1>Sign Up</h1>
            <form th:action="@{/register}" th:method="POST" th:object="${user}">
                <div class="top-row">
                    <div class="field-wrap">
                        <label>
                            First Name<span class="req">*</span>
                        </label>
                        <input type="text"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Last Name<span class="req">*</span>
                        </label>
                        <input type="text"/>
                    </div>
                </div>
                <div class="field-wrap">
                    <label>
                        Username<span class="req">*</span>
                    </label>
                    <label class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
                    <input type="text" th:field="*{username}"/>
                </div>
                <div class="field-wrap">
                    <label>
                        Email Address<span class="req">*</span>
                    </label>
                    <label class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                    <input type="email" th:field="*{email}"/>
                </div>
                <div class="field-wrap">
                    <label>
                        Password<span class="req">*</span>
                    </label>
                    <label class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
                    <input type="password" th:field="*{password}"/>
                </div>
                <div class="field-wrap">
                    <label>
                        Confirm Password<span class="req">*</span>
                    </label>
                    <input type="password" name="passwordConfirm"/>
                </div>
                <button type="submit" class="button button-block">Get Started</button>
            </form>
        </div>
        <div id="login">
            <h1>Login</h1>
            <div th:if="${param.error}">Invalid Username and Password. </div>
            <div th:if="${param.logout}"> You have been logged out.</div>
            <form th:action="@{/login}" th:method="POST">
                <div class="field-wrap">
                    <label>
                        Username<span class="req">*</span>
                    </label>
                    <input id="username" name="username" type="text"/>
                </div>
                <div class="field-wrap">
                    <label>
                        Password<span class="req">*</span>
                    </label>
                    <input id="password" name="password" type="password"/>
                </div>
                <p class="forgot"><a href="#">Forgot Password?</a></p>
                <button class="button button-block" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
 <script src='js/jquery.js'></script>
 <script src="js/login-register.js"></script>
</body>
</html>