body {
    font-family: 'Titillium Web', sans-serif;
}
.header-wrapper {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #6035e7;
}

.header-wrapper h1 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 46px;
    color: white;
}

.header-wrapper h2 {
    font-size: 30px;
    color: white;
    display: inline-block;
}