/*---HTML---*/
html {
    overflow-y: scroll;
}
/*---BODY---*/
body {
    font-family: 'Titillium Web', sans-serif;
}
/*---DIVS---*/
#form {
    padding: 50px 200px 30px 200px;
    background: linear-gradient(to bottom, #6035e7 53%, #ffffff 0%);
}
.input-field-div:nth-of-type(2) {
    display: inline-block;
    float: left;
    width: 47%;
}
.input-field-div:nth-of-type(3) {
    display: inline-block;
    float: right;
    width: 47%;
}
/*---HEADERS---*/
#main-header {
    margin-top: 0;
    margin-bottom: 35px;
    text-align: center;
    color: white;
}
/*---INPUTS---*/
*:focus {
    outline: none;
}
input {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    box-shadow: none;
    height: 45px;
    width: 100%;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #38207c;
}
.numbers {
    border-radius: 3px;
    padding: 5px 0 5px 0;
    background-color: #5631d3;
    color: white;
    text-align: center;
}
.numbers:first-of-type {
    margin-bottom: 20px;
}
.names {
    border: none;
    border-bottom: solid;
    border-color: lightgray;
    border-width: 2px;
    padding: 0 0 5px 6px;
    background-color: transparent;
}
#first-name {
    margin-top: 35px;
    margin-bottom: 20px;
}
.numbers::-webkit-input-placeholder {
    color: white;
    opacity: 0.9;
}
.numbers:-moz-placeholder {
    color: white;
    opacity: 0.9;
}
.numbers::-moz-placeholder {
    color: white;
    opacity: 0.9;
}
.numbers:-ms-input-placeholder {
    color: white;
    opacity: 0.9;
}
/*---BUTTONS---*/
#donate_btn {
    background-color: #6035e7;
    color: white;
    box-shadow: none;
    width: 100%;
    margin: 30px 0 10px 0;
    border: none;
    height: 37px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}