body {
    color: white;
    background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), url('../images/smartgivergirlthinkingreversed.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#head {
    padding: 20px 0 20px 0;
    background-color: #5744e8;
}

#head h1 {
    margin: 0;
    font-size: 65px;
    text-align: center;
    font-family: 'Big Caslon', sans-serif;
}

#main {
    width: 100%;
    padding: 100px 130px 0 130px;
}
#main div {
    display: inline-block;
}
#text-wrapper {
    width: 450px;
}

#img-wrapper {
    float: right;
}

img {
    width: 150px;
    height: 150px;
}

#main h1 {
    color: black;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Avenir', sans-serif;
}

#main h1:first-of-type {
    margin: 0;
    font-size: 56px;
}

#main p {
    color: black;
    font-size: 20px;
    margin-top: 10px;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Avenir', sans-serif;
}

#text-wrapper > a {
    width: 165px;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    background-color: #6637fd;
    padding: 10px 20px 10px 20px;
}

#text-wrapper a:hover {
    text-decor1ation: none;
    background-color: #6637fd;
}

.glyphicon {
    font-size: 14px;
    margin-left: 5px;
}

*:focus {
    outline: none;
}

footer p {
    font-family: Avenir;
    color: black;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
}


/*img {*/
    /*display: inline-block;*/
    /*width: 120px;*/
    /*height: 120px;*/
    /*margin: 7px;*/
/*}*/

/*#img-wrapper {*/
    /*width: 420px;*/
    /*float: right;*/
    /*text-align: center;*/
    /*background-color: lightgray;*/
/*}*/