body {
    color: white;
    font-family: 'Playfair Display', serif;
}

.wrapper {
    height: 100vh;
    background-size: 100% 120%;
    padding: 50px 130px 0 130px;
    background-repeat: no-repeat;
    background-image: url("../images/pexels-photo-89820.jpeg");
}

.navbar-wrapper {
    padding: 0 10px;
}

.navbar-wrapper a {
    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px black;
}

.navbar-wrapper a, p {
    display: inline-block;
    color: white;
    font-size: 25px;
}

.navbar-wrapper p {
    font-family: 'Avenir', sans-serif;
    text-shadow: 1px 1px black;
}

.navbar-wrapper a:hover {
    text-decoration: none;
}

.navbar-wrapper a:last-of-type {
    float: right;
}

.text-wrapper {
    margin-top: 250px;
    width: 500px;
}

.text-wrapper h1 {
    font-size: 72px;
    font-family: 'Avenir', sans-serif;
    text-shadow: 1px 1px black;
}

.text-wrapper p {
    font-size: 28px;
    font-family: 'Avenir', sans-serif;
    text-shadow: 1px 1px black;
}

.text-wrapper > a {
    width: 165px;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    padding: 15px 20px;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    background-color: #6637fd;
    font-family: 'Avenir', sans-serif;

}

.text-wrapper a:hover {
    text-decoration: none;
}

.glyphicon {
    font-size: 14px;
    margin-left: 5px;
}

*:focus {
    outline: none;
}

#brand {
    float: left;
    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px black;
}

#login {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    text-shadow: 1px 1px black;
}

#get-started-btn {
    text-shadow: none;
}

#get-started-btn:hover {
    background: #6637fd;
}
