*:focus {
    outline: none;
}
.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0p;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
}

.icon-size {
    font-size: 87px;
}

.login-btn {
    float: right;
    margin: 13px;
    border-width: 1px;
    border-color: #532ec3;
    color: #532ec3;
    background-color: transparent;
}

.login-btn a:hover {
    text-decoration: none;
}
.dropdown-menu a:last-of-type {
    margin-top: 0;
    margin-bottom: 5px;
}
a {
    text-decoration: none;
    color: #5f5f5f;
    font-family: 'Source Sans Pro', sans-serif
}