.scrolled {
    background-color: beige;
}
#nav {
    padding: 6px;
    border-color: transparent;
}
.navbar {
    background-color: transparent;
}
.nav-a {
    color: black;
    font-size: 20px;
}
.nav-a:first-of-type {
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif;
}
a:hover {
    background-color: transparent;
    color: black;
}
.nav>li>a:hover {
    background-color: transparent;
    color: black;
}
#search-input {
    background-color: transparent;
    border-color: black;
    border-width: 3px;
    color: black;
    font-family: 'Noto Sans', sans-serif;
    outline: none;
    letter-spacing: 2px;
}
#search-input::-webkit-input-placeholder { /* Chrome */
    color: black;
}
#search-input:-ms-input-placeholder { /* IE 10+ */
    color: black;
}
#search-input::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
    opacity: 1;
}
#search-input:-moz-placeholder { /* Firefox 4 - 18 */
    color: #ffffff;
    opacity: 1;
}