body {
    font-family: 'Titillium Web', sans-serif;
}

.header-wrapper {
    width: 100%;
    padding: 15px 10px;
    text-align: center;
    background-color: #6035e7;
}

.header-wrapper h1 {
    color: white;
    font-size: 46px;
    margin-top: 10px;
    margin-bottom: 0;
}

.header-wrapper h2 {
    color: white;
    font-size: 35px;
    display: inline-block;
}

.header-wrapper > * {
    display: inline-block;
}

.profilePic {
    width: 100px;
    height: 100px;
}

.content-wrapper {
    padding: 30px 12% 30px 12%;
}

.content-wrapper h1 {
    font-size: 39px;
    margin-top: 15px;
    text-align: center;
}

.content-wrapper h2 {
    font-size: 33px;
    text-align: center;
}

.jumbotron {
    border-radius: 10px;
}

.jumbotron:last-of-type {
    padding: 23px 85px 15px 85px;
}

th {
    text-align: center;
    width: 50%;
    font-size: 20px;
}

td {
    text-align: center;
    width: 50%;
    font-size: 16px;
}