body {
    font-family: 'Titillium Web', sans-serif;
}

.header-wrapper {
    width: 100%;
    padding: 15px 10px;
    text-align: center;
    background-color: #6035e7;
}

.header-wrapper h1 {
    color: white;
    font-size: 46px;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Libre Baskerville', serif;
}

.header-wrapper h2 {
    color: white;
    font-size: 35px;
    display: inline-block;
    font-family: 'Libre Baskerville', serif;
}

.img-wrapper, .name-wrapper {
    display: inline-block;
}

.img-wrapper {
    margin: 0 45px 0 -140px;
    transform: translateY(-90px);
}

.profile-btn {
    margin-top: -40px;
}

.profilePic {
    width: 121px;
    height: 125px;
    border-width: 4px;
    position: absolute;
    border-radius: 80px;
    border: solid #9E9E9E;
}

button {
    position: relative;
    visibility: hidden;
    transform: translateY(45px);
}

.img-wrapper:hover > .profilePic {
    opacity: 0.6;
}

.img-wrapper:hover > button {
    visibility: visible;
}

.content-wrapper {
    padding: 30px 12% 30px 12%;
}

.content-wrapper h1 {
    font-size: 39px;
    margin-top: 15px;
    text-align: center;
}

.content-wrapper h2 {
    font-size: 33px;
    text-align: center;
}

.jumbotron{
    border-radius: 10px;
}

.jumbotron:first-of-type {
    padding: 23px 85px 15px 85px;
}

th {
    text-align: center;
    width: 50%;
    font-size: 20px;
}

td {
    text-align: center;
    width: 50%;
    font-size: 16px;
}
