body {
	/*font-family: 'Titillium Web', sans-serif;*/
	font-family: 'Avenir', sans-serif;
}

.header-wrapper {
	width: 100%;
	color: white;
	padding: 15px 10px;
	text-align: center;
	background-color: #6035e7;
}

#headerName {
	text-align: center;
	color: whitesmoke;
	/*text-shadow: black 2px 1px;*/
	font-family: 'Big Caslon', sans-serif;
}

.header-wrapper h1 {
	font-size: 46px;
	margin-top: 10px;
}

.content-wrapper {
	padding: 40px 10% 30px 10%;
}

.categories-wrapper {
	text-align: center;
}

.categories-wrapper button {
	color: white;
	height: 60px;
	font-size: 23px;
	margin: 5px 5px;
	box-shadow: none;
	padding: 2px 10px;
	border-radius: 5px;
	letter-spacing: 1px;
	display: inline-block;
	border: solid transparent;
	/*background-color: #DDDDDD;*/
	font-family: 'Avenir', sans-serif;
}

.categories-wrapper .fourth, .half, .full {
	color: white;
	height: 60px;
	font-size: 23px;
	margin: 5px 5px;
	box-shadow: none;
	padding: 2px 10px;
	border-radius: 5px;
	letter-spacing: 1px;
	display: inline-block;
	border: solid transparent;
	font-family: 'Avenir', sans-serif;
}

.text-category {
	color: black;
	padding: 10px;
	background-color: #DDDDDD;
}

.img-wrapper {
	width: 100%;
	height: 150px;
}

button:hover {
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	transition: 0.5s all ease;
}


/*.categories-wrapper button:hover {*/
	/*background-color: #e9e9e9;*/
/*}*/

/*.categories-wrapper .active {*/
	/*color: white;*/
	/*background-color: #6035e7;*/
/*}*/

/*.categories-wrapper .active:hover {*/
	/*background-color: #6035e7;*/
/*}*/

.category-row {
	margin-bottom: 25px;
}

.full {
	width: 97.25%;
}

.half {
	width: 48%;
}

.fourth {
	width: 23.5%;
}

.fourth {
	width: 23%;
}

.charities-wrapper {
	display: none;
}

.jumbotron {
	margin-top: 40px;
	border-radius: 10px;
	padding: 23px 85px 5px 85px;
}

input {
	width: 15.5%;
	height: 30px;
	opacity: 0.7;
	font-size: 20px;
	margin-top: 7px;
	padding-left: 10px;
	border-radius: 8px;
	position: absolute;
	border: solid transparent;
	font-family: Avenir, Arial sans-serif;
}

#th {
	padding-bottom: 15px;
}

th {
	font-size: 20px;
	text-align: center;
	padding-bottom: 15px;
	font-family: 'Avenir', sans-serif;

}

td {
	font-size: 16px;
	text-align: center;
}

p {
	margin: 0;
}

#animals {
	background-size: cover;
	background-image: linear-gradient(to bottom, rgba(96, 53, 231, 0.3), rgba(96, 53, 231, 0.3)), url("/images/animal-welfare.jpg");
}

/*#animals:hover {*/
	/*background-color: #ddea8a;*/
/*}*/

#cancer {
	background-size: cover;
	background-image: linear-gradient(to bottom, rgba(96, 53, 231, 0.3), rgba(96, 53, 231, 0.3)), url("/images/cancer-patient.jpg");
}

/*#cancer:hover {*/
	/*background-color: #d4cedd;*/
/*}*/

#environment {
	background-size: cover;
	background-image: linear-gradient(to bottom, rgba(96, 53, 231, 0.3), rgba(96, 53, 231, 0.3)), url("/images/enviornment.jpg");
}

/*#environment:hover {*/
	/*background-color: #76c79c;*/
/*}*/

#education {
	height: 119px;
	background-size: cover;
	background-image: linear-gradient(to bottom, rgba(96, 53, 231, 0.3), rgba(96, 53, 231, 0.3)), url("/images/education.jpg");
}

/*#education:hover {*/
	/*background-color: #dabe5e;*/
/*}*/

#children {
	background-size: cover;
	background-image: linear-gradient(to bottom, rgba(96, 53, 231, 0.3), rgba(96, 53, 231, 0.3)), url("/images/education.jpg");
}

/*#children:hover {*/
	/*background-color: #e6aa9f;*/
/*}*/

#veterans {
	background-size: cover;
	background-image: linear-gradient(to bottom, rgba(96, 53, 231, 0.3), rgba(96, 53, 231, 0.3)), url("/images/veteran.jpg");
}

/*#veterans:hover {*/
	/*background-color: #A27FAB;*/
/*}*/

#health {
	background-size: cover;
	background-image: linear-gradient(to bottom, rgba(96, 53, 231, 0.3), rgba(96, 53, 231, 0.3)), url("/images/education.jpg");
}

/*#health:hover {*/
	/*background-color: #e2827c;*/
/*}*/

#hunger {
	background-size: cover;
	background-image: linear-gradient(to bottom, rgba(96, 53, 231, 0.3), rgba(96, 53, 231, 0.3)), url("/images/hunger.jpg");
}

/*#hunger:hover {*/
	/*background-color: #a7c292;*/
/*}*/

#humans {
	background-size: cover;
	background-image: linear-gradient(to bottom, rgba(96, 53, 231, 0.3), rgba(96, 53, 231, 0.3)), url("/images/education.jpg");
}

/*#humans:hover {*/
	/*background-color: #838db4;*/
/*}*/

#international {
	background-size: cover;
	background-image: linear-gradient(to bottom, rgba(96, 53, 231, 0.3), rgba(96, 53, 231, 0.3)), url("/images/international.jpg");
}

/*#international:hover {*/
	/*background-color: #72c6d6;*/
/*}*/