body {
	font-family: 'Titillium Web', sans-serif;
	/*font-family: 'Avenir', sans-serif;*/
}

.header-wrapper {
	width: 100%;
	color: white;
	padding: 15px 10px;
	text-align: center;
	background-color: #6035e7;
}

#headerName {
	text-align: center;
	color: whitesmoke;
	font-family: Big Caslon, sans-serif;
	/*text-shadow: black 2px 1px;*/
}

.header-wrapper h1 {
	font-size: 46px;
	margin-top: 10px;
}

.content-wrapper {
	padding: 40px 12% 30px 12%;
}

.categories-wrapper {
	text-align: center;
}

.categories-wrapper button {
	height: 60px;
	font-size: 23px;
	margin: 5px 5px;
	box-shadow: none;
	padding: 2px 10px;
	border-radius: 5px;
	letter-spacing: 1px;
	display: inline-block;
	border: solid transparent;
	/*background-color: #DDDDDD;*/
	color: white;
	font-family: 'Avenir', sans-serif;
	text-shadow: black 1px 1px;
}

.categories-wrapper button:hover {
	background-color: #e9e9e9;
}

.categories-wrapper .active {
	color: white;
	background-color: #6035e7;
}

.categories-wrapper .active:hover {
	background-color: #6035e7;
}

.full {
	width: 97.25%;
}

.half {
	width: 48%;
}

.third {
	width: 31.5%;
}

.charities-wrapper {
	display: none;
}

.jumbotron {
	margin-top: 40px;
	border-radius: 10px;
	padding: 23px 85px 5px 85px;
}

input {
	width: 15%;
	height: 30px;
	opacity: 0.7;
	font-size: 20px;
	margin-top: 7px;
	padding-left: 10px;
	border-radius: 8px;
	position: absolute;
	border: solid transparent;
	font-family: Avenir, Arial sans-serif;
}

#th {
	padding-bottom: 15px;
}

th {
	font-size: 20px;
	text-align: center;
	padding-bottom: 15px;
	font-family: 'Avenir', sans-serif;

}

td {
	font-size: 16px;
	text-align: center;
}

#animals {
	background-color: #d0ea4a;
}

#animals:hover {
	background-color: #ddea8a;
}

#cancer {
	background-color: #c8afdd;
}

#cancer:hover {
	background-color: #d4cedd;
}

#environment {
	background-color: #36c785;
}

#environment:hover {
	background-color: #76c79c;
}

#education {
	background-color: #da9b28;
}

#education:hover {
	background-color: #dabe5e;
}

#children {
	background-color: #e6836f
}

#children:hover {
	background-color: #e6aa9f;
}

#veterans {
	background-color: #5b3272;
}
#veterans:hover {
	background-color: #A27FAB;
}

#health {
	background-color: #e23d30;
}
#health:hover {
	background-color: #e2827c;
}

#hunger {
	background-color: #9ec277;
}
#hunger:hover {
	background-color: #a7c292;
}

#humans {
	background-color: #4f5eb4;
}
#humans:hover {
	background-color: #838db4;
}

#international {
	background-color: #2cb8d6;
}
#international:hover {
	background-color: #72c6d6;
}


