<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Give Hope</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' type='text/css'/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600"/>
    <link rel="stylesheet" href="css/home-screen.css"/>
    <link rel="stylesheet" href="css/navbar.css"/>
</head>
<body>
<nav th:include="fragments/navbar :: navbar"></nav>
<div id="head">
    <h1>GIVE HOPE</h1>
</div>
<div id="main">
    <div id="text-wrapper">
        <h1>We make it easy to donate</h1>
        <p>We help you find a top rated charity for a cause of your choosing and allow you to make a donation directly through our site.</p>
        <a href="/categories">Get Started<span class="glyphicon glyphicon-play"></span></a>
    </div>
</div>
</body>
<script src="js/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>