<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Smart Giver</title>

    <link rel="stylesheet" href="/css/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif"/>
    <link rel="stylesheet" href="css/home-screen.css"/>
    <link rel="stylesheet" href="css/navbar.css"/>
</head>
<body>
<div class="wrapper">
    <div class="navbar-wrapper">
      
        <a id="brand" >Smart Giver</a>
        <a sec:authorize="isAnonymous()" href="/login">Login</a>
    </div>

    <div class="text-wrapper">
        <h1>We make it easy to donate</h1>
        <p>Find only top-rated charities analyzed by industry watchdogs and make a safe donation directly through our site.</p>
        <a id="get-started-btn" href="/categories">Get Started<span class="glyphicon glyphicon-play"></span></a>
    </div>
</div>
</body>
<script src="js/jquery.js"></script>
<script src="/css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</html>