<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="css/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

    <!--<link rel="stylesheet" type="text/css" href="../css/styleNoJS.css"/>-->
    <title>Categories</title>
</head>
<body>

<nav th:include="fragments/navbar :: navbar"></nav>

<div class="container" id="browseTitle">
    <h1 style="text-align:center; font-family: Futura;">Browse A-rated charities below:</h1>
</div>

<div class="container btns-wrapper">
    <div class="row">
        <div class="col-md-6"><h3 class="va-title va-slice-color-1"><i class="fa fa-paw" aria-hidden="true"></i>Animal Welfare</h3></div>
        <div class="col-md-6"><h3 class="va-title va-slice-color-2"><i class="fa fa-heartbeat" aria-hidden="true"></i>Cancer</h3></div>
    </div>
    <div class="row">
        <div class="col-md-6"><h3 class="va-title va-slice-color-3"><i class="fa fa-child" aria-hidden="true"></i>Child Protection, Sponsorship, and Youth Development</h3></div>
        <div class="col-md-6"><h3 class="va-title va-slice-color-6"><i class="fa fa-university" aria-hidden="true"></i>Human Rights, Civil Rights, and Social Responsibility</h3></div>
    </div>
    <div class="row">
        <div class="col-md-6"><h3 class="va-title va-slice-color-5"><i class="fa fa-leaf" aria-hidden="true"></i>Environment</h3></div>
        <div class="col-md-6"><h3 class="va-title va-slice-color-4"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Education and Scholarship</h3></div>

    </div>
    <div class="row">
        <div class="col-md-6"><h3 class="va-title va-slice-color-7"><i class="fa fa-medkit" aria-hidden="true"></i>Health Services</h3></div>
        <div class="col-md-6"><h3 class="va-title va-slice-color-8"><i class="fa fa-bed" aria-hidden="true"></i>Hunger and Shelter</h3></div>
    </div>
    <div class="row">
        <div class="col-md-6"><h3 class="va-title va-slice-color-9"><i class="fa fa-globe" aria-hidden="true"></i>International</h3></div>
        <div class="col-md-6"><h3 class="va-title va-slice-color-10"><i class="fa fa-shield" aria-hidden="true"></i>Veterans</h3></div>
    </div>

</div>

<div class="va-content" style="text-align: center; margin-left: auto; margin-right: auto">
</div>

<!--comment to merge-->



<div>

    <label for="searchTerm">Search</label>
    <input id="searchTerm" name="searchTerm" type="text" placeholder="Enter a keyword"/>

    <div id="searchResults"></div>

</div>

<script src="js/jquery.js"></script>
<script src="js/search.js"></script>


</body>
</html>