<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="css/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <title>Categories</title>
</head>
<body>
<nav th:include="fragments/navbar :: navbar"></nav>

<div class="wrapper">
    <div class="header-wrapper">
        <h1 id="headerName">Select a category to browse top-rated charities</h1>

    </div>

    <div class="content-wrapper">
        <div class="categories-wrapper">
            <div>
                <button class="third" id="animals">Animal Welfare</button>
                <button class="third" id="cancer">Cancer</button>
                <button class="third" id="environment">Environment</button>
            </div>
            <div>
                <button class="third" id="veterans">Veterans</button>
                <button class="third" id="health">Health Services</button>
                <button class="third" id="hunger">Hunger and Shelter</button>
            </div>
            <div>
                <button class="half" id="international">International</button>
                <button class="half" id="education">Education and Scholarship</button>
            </div>
            <div>
                <button class="full" id="humans">Human Rights, Civil Rights, and Social Responsibility</button>
                <button class="full" id="children">Child Protection, Sponsorship, and Youth Development</button>
            </div>
        </div>

        <div class="charities-wrapper jumbotron">
            <table class="table table-striped" align="center">
                <thead>
                    <tr>
                        <th id="th"></th>
                    </tr>
                </thead>

                <tbody class="table-content">
                    <input id="searchTerm" name="searchTerm" type="text" placeholder="Search"/>
                </tbody>
            </table>
        </div>
    </div>
</div>



<script src="js/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="js/search.js"></script>
</body>
</html>