<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Donate</title>
    <link rel="stylesheet" href="/css/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' type='text/css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville"/>
    <link rel="stylesheet" href="/css/donation-form.css"/>
    <link rel="stylesheet" href="/css/navbar.css"/>
</head>
<body>
<nav th:include="fragments/navbar :: navbar"></nav>

<div id="form" class="form">
    <div class="tab-group">
         <h1>Donate</h1>
    </div>
    <div class="tab-content">
        <div id="signup">
            <h1>Enter Payment Information</h1>
            <form id="panda_cc_form">
                <div class="field-wrap">
                    <label class="middle">Card Number</label>
                    <input class="center" type="text" maxlength="16" data-panda="credit_card"/>
                </div>
                <div class="top-row">
                    <div class="field-wrap">
                        <label id="expiration" class="middle">MM/YYYY</label>
                        <input class="center" type="text" maxlength="7" data-panda="expiration"/>
                    </div>
                    <div class="field-wrap">
                        <label id="cvv" class="middle">CVV</label>
                        <input class="center" type="text" maxlength="3" data-panda="cvv"/>
                    </div>
                </div>
                <div class="field-wrap">
                    <label>First Name</label>
                    <input type="text" maxlength="16" data-panda="first_name"/>
                </div>
                <div class="field-wrap">
                    <label>Last Name</label>
                    <input type="text" maxlength="16" data-panda="last_name"/>
                </div>
                <div class="field-wrap">
                    <label>Email</label>
                    <input id="visibleEmail" type="email"/>
                </div>
                <div id="tokenize">
                    <button id="donate_btn" class="button button-block" type="submit" >NEXT</button>
                </div>
            </form>
        </div>

        <div class="hidden">
            <form id="hiddenForm" th:object="${donation}" method="post">
                <input type="text" th:field="*{charity.ein}"/>
                <input type="text" th:field="*{amount}"/>
                <input id="hiddenEmail" name="email" type="email"/>
                <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
            </form>
        </div>

        <div class="overlay">
            <img src="/images/spinner.gif" class="img-overlay"/>
        </div>

    </div>
</div>


<script src="/js/jquery.js"></script>
<script src="/css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
 <script src="/js/login-register.js"></script>
<script src="//d2t45z63lq9zlh.cloudfront.net/panda-v0.0.5.min.js"></script>
<script src="/js/donation.js"></script>
</body>
</html>