<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Donate</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600"/>
    <link rel="stylesheet" href="css/donation-form.css"/>
</head>
<body>
<div id="form">
    <h1 id="main-header">Enter Payment Information</h1>
    <form id="panda_cc_form">
        <div class="input-field-div">
            <input class="inputs numbers" type="text" placeholder="Card Number" maxlength="16" data-panda="credit_card"/>
        </div>

        <div class="input-field-div">
            <input class="inputs numbers" type="text" placeholder="MM/YYYY" maxlength="7" data-panda="expiration"/>
        </div>

        <div class="input-field-div">
            <input class="inputs numbers" type="text" placeholder="CVV" maxlength="3" data-panda="cvv"/>
        </div>

        <div class="input-field-div">
            <input id="first-name" class="inputs names" type="text" placeholder="First Name" data-panda="first_name"/>
        </div>

        <div class="input-field-div">
            <input id="last-name" class="inputs names" type="text" placeholder="Last Name" data-panda="last_name"/>
        </div>

        <div id="tokenize">
            <button id="donate_btn" type="submit">DONATE</button>
        </div>
    </form>
</div>
<script src="//d2t45z63lq9zlh.cloudfront.net/panda-v0.0.5.min.js"></script>
<script>
    // Call Panda.init() with your Panda Publishable Key and the DOM id of the
    // credit card-related form element

    Panda.init('pk_test_wsQoLJzX6-yUXv1gGcUgvQ', 'panda_cc_form');

    Panda.on('success', function(cardToken) {
        // You now have a token you can use to refer to that credit card later.
        // This token is used in PandaPay API calls for creating donations and grants
        // so that you don't have to worry about security concerns with dealing with
        // credit card data.
    });

    Panda.on('error', function(errors) {
        // errors is a human-readable list of things that went wrong
        //  (invalid card number, missing last name, etc.)
    });
</script>
</body>
</html>