<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title th:text="${charity.charityName}"></title>
        <link rel="stylesheet" href="/css/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif"/>
        <link rel="stylesheet" href="/css/charity-profile.css"/>
        <link rel="stylesheet" href="/css/navbar.css"/>
    </head>
    <body>
    <nav th:include="fragments/navbar :: navbar"></nav>
    <div th:object="${charity}" class="wrapper">
        <div class="header-wrapper">
            <h1 th:text="*{charityName}"></h1>
            <h2><span th:text="*{city}"></span>, </h2>
            <h2 th:text="*{state}"></h2>
        </div>

        <div class="content-wrapper">
            <div class="description-wrapper jumbotron">
                <h1>Mission Statement</h1>
                <p th:text="*{description}"></p>
            </div>


            <div class="donate-wrapper">
                <h1>Donation Amount</h1>
                <form th:action="@{'/donate/' + ${charity.ein}}" method="POST">
                    <span class="dollar">$</span>
                    <input id="customAmount" name="amount" type="text"/>
                    <button type="button" value="5" class="button">$5</button>
                    <button type="button" value="25" class="button">$25</button>
                    <button type="button" value="50" class="button">$50</button>
                    <button type="button" value="100" class="button">$100</button>
                    <button type="button" value="500" class="button">$500</button>
                    <button type="button" class="button">Other</button>

                    <button type="submit" class="submit-btn">Next</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/js/charity-profile.js"></script>
    </body>
</html>