<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Search</title>
        <link rel="stylesheet" href="css/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    </head>

    <body>

        <div class="container">

                <label for="searchTerm">Search</label>
                <input id="searchTerm" name="searchTerm" type="text"
                       placeholder="Enter a name, category, or location"/>

            <div id="searchResults"></div>
        </div>

        <script src="js/jquery-2.2.4.js"></script>
        <script src="css/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
        <script src="js/search.js"></script>

    </body>
</html>